<style>
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  position: fixed; 
  position: relative;
  bottom: 30px;
  left: 10px; 
}
.active, .collapsible:hover {
    background-color: #ccc;
}
.content {
    padding: 0 18px;
    /* display: none; */
    overflow: hidden;
    background-color: #f1f1f1;
} 
body {
  font-family: "Arial", sans-serif;
  margin: 0;
}
#show-length {
  position: absolute;
  top: 10px;
  left: 10px;
}
.links {
  fill: none;
  stroke: #000;
}
.labels {
  font: 12px "Arial";
}
#summary-text {
 position: absolute;
 bottom: 10px;
 left: 10px;
 width:100px;
 font-size:12px;
 font:“arial”;
}
#d3-container .selected-label{
  font-weight:600;
  font:14px;
}
#d3-container #chart-note{
  position:absolute;
  bottom:20px;
  left:700px;
  font-size:12px;
  color:grey;
}
.link--active {
  stroke-width: 4px;
}
.label--active {
  font-weight: bold;
}
#d3-container{
  position:relative;
  /* width:1200px; */
  width: 100%;
  overflow:scroll;
}
#d3-container svg circle{
  cursor:pointer;
}
#d3-container .info-div{
  position:absolute;
  left:900px;
  border:1px solid grey;
  width:250px;
  height:250px;
  border-radius:10px;
  box-shadow: 1px 2px #888888;
}
#bar-chart-container{
  top:40px;
  position:relative;
  padding:0px;
}
#bar-chart-div div.bar-div{
  opacity:0.7;
  height:29px;
  position:absolute;
  left:60px;
  border: 1px solid black;
  box-sizing: border-box;
  cursor:pointer;
}
#bar-chart-div div.bar-div:hover{
  border:2px solid black;
  opacity:0.5;
}
#bar-chart-div p.bar-label{
  position:absolute;
  right:193px;
  font-size:11px;
  font-weight:600;
  color:grey;
}
#bar-chart-div p.bar-size{
  position:absolute;
  font-size:10px;
}
#bar-title{
  text-align:center;
  margin:0px;
  padding:0px;
  line-height:22px;
}
#bar-note{
  font-size:10px;
  color:grey;
  text-align:center;
  margin:0px;
  padding:0px;
}
#bar-info-div{
  text-align:center;
  font-size:10px;
  color:grey;
  position:absolute;
  padding:0px 5px;
  height:37px;
  bottom:0px;
}
#ortho-list-div{
  top:300px;
  overflow:auto;
}
#ortho-list-div h3{
  text-align:center;
  margin:0px;
  padding:0px;
  margin-bottom:0px;
}
#ortho-list-div #bar-note{
  font-size:10px;
  color:grey;
  text-align:center;
  margin:0px;
  padding:0px;
}
#scroll-header{
  margin-top:0px;
  margin-left:2px;
  font-size:13px;
  font-weight:bold;
}
#ortho-scroll-div{
  position:absolute;
  left:0px;
  top:65px;
  width:250px;
  height:200px;
  overflow:auto;
  border-top:1px solid lightgrey;
  box-sizing: border-box;
}
#ortho-table tr:nth-child(2n-1){
  background-color:#E7E7E7;
}
#ortho-table tr{
  padding:2px 5px;
  font-weight:normal;
  font-size:13px;
}
#ortho-table tr td.orthogroup-td{
  width:105px;
  color:rgba(0,30,170,0.8);
  cursor:pointer;
}
#ortho-info-div{
  top:560px;
}
#ortho-info-div h3{
  text-align:center;
  margin:0px;
  padding:0px;
  margin-bottom:0px;
}

.info-header{
  margin:0px;
  margin-left:2px;
  font-size:13px;
  font-weight:bold;
}

#eggnog-header{
  margin-top:5px;
}

.top-info{
  margin:0px;
  font-size:12px;
  width:245px;
}

#eggnog-scroll-div{
  max-height:120px;
  overflow-y:auto;
  width:250px;
}

#annotation-download-button{
  margin: 10px 5px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
  color: #FFFFFF;
  padding: 3px 10px 3px;
  border-radius: 2px;
  background: rgb(66, 146, 198);
  font-size:14px;
  font-weight:600;
  opacity:0.9;
  cursor:pointer;
}

#d3-container #progress-status {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 14px;
  color: grey;
}
</style>  

<div id="d3-container">
  <p id="chart-note">Click on a node for more details...</p>
  <p id="progress-status">Loading...</p>
  <label id='show-length'>
    <input type="checkbox">Show branch length
  <div class="info-div" id="bar-chart-container">
    <h3 id="bar-title">Orthogroup Sets </h3><p id="bar-note">(click on a bar to see its orthogroups)</p>
    <div id="bar-chart-div">
    </div>
    <div id="bar-info-div"></div>
  </div>
  <div class="info-div" id="ortho-list-div">
    <h3><span id="orthogroup-list-title"></span>&nbsp;orthogroups</h3>
    <p id="bar-note">(click on an orthogroup to see more details)</p>
    <p id="orthogroup-scroll-header">Orthogroup&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Size&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Species</p>
    <div id="ortho-scroll-div">
      <table id="ortho-table">
        
      </table>
    </div>
  </div>
  <div class="info-div" id="ortho-info-div">
    <div id="top-gene-div">
      <h3 id="annotation-label">Top&nbsp;<span id="gene-list-title"></span>&nbsp;gene</h3>
      <p class="info-header" id="gene-header">Gene</p>
      <p class="top-info" id="top-gene"></p>
      <p class="info-header" id="eggnog-header">Eggnog Description</p>
      <div id="eggnog-scroll-div">
        <p class="top-info" id="top-eggnog-description"></p>
      </div>
    </div>
    <button id="annotation-download-button">Download All Gene Annotations</button>
  </div> 
</div>
<button class="collapsible">See Summary</button>
<div class="content">
<p><iframe src="/sites/all/modules/orthoquery_advanced/visualization/summary.txt" frameborder="0"></iframe></p>
</div>

<!-- Copyright 2011 Jason Davies https://github.com/jasondavies/newick.js -->
<script>
  function parseNewick(a){
    for(var e=[],r={},s=a.split(/\s*(;|\(|\)|,|:)\s*/),t=0; t<s.length; t++){
      var n=s[t];
      switch(n){
        case"(":
          var c={};
          r.branchset=[c],e.push(r),r=c;
          break;
        case",":
          var c={};
          e[e.length-1].branchset.push(c),r=c;
          break;
        case")":
          r=e.pop();
          break;
        case":":
          break;
        default:
          var h=s[t-1];
          ")"==h||"("==h||","==h ? r.name=n : ":"==h && (r.length=parseFloat(n))
      }
    }
    return r
  }
</script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}
</script>

<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jq-ajax-progress@1.0.0/src/jq-ajax-progress.min.js"></script>
<!-- Copyright 2016 Mike Bostock https://d3js.org -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
<script src="http://d3js.org/queue.v1.min.js"></script>

<script>
  //jQuery(document).ready(function() {
    console.log('Loading javascript... ');
    //All filenames stored here
    //Must pass in appropriate filenames from server if these are to be dynamic
    var newickFile = "/sites/all/modules/orthoquery_advanced/visualization/SpeciesTree_rooted.txt",
        countFile = "/sites/all/modules/orthoquery_advanced/visualization/Orthogroups.GeneCount.csv",
        annotationFile = "/sites/all/modules/orthoquery_advanced/visualization/all_annotations_lvl0.tsv"; //File containing the annotations for each gene
        orthogroupFile = "/sites/all/modules/orthoquery_advanced/visualization/Orthogroups.csv"  //File containing the correspondence between orthogroups and genes

    var marginSides = 100,
        marginVertical = 85,
        width = 720,
        height = 650,
        selectedSetDescription = "",
        geneAnnotations = {},
        orthogroupGenes = {},
        wellAnnotatedGenes = [],
        selectedNode,root;
    
    //Create svg element
    var svg = d3.select("#d3-container").append("svg")
        .attr("width", width+2*marginSides)
        .attr("height", height+2*marginVertical);

    var chart = svg.append("g")
        .attr("transform",`translate(${marginSides/4},${marginVertical})`);

    //Hide all info divs
    $(".info-div").hide();
    $("#top-gene-div").hide();

    //New code to download file data using jQuery to show progress information
    var annotationFileData = '';
    var annotationFileDownloaded = false;
    jQuery.ajax(annotationFile, {
      progress: function(e) {
        // track downloading
        var percent_loaded = Math.round((e.loaded / e.total) * 100);
        jQuery('#progress-status').html('Downloading annotation file: ' + percent_loaded + '%');
        //console.log(e);
      },
      success: function(data) {
        //this should contain the contents which can be parsed
        annotationFileData = data;
        annotationFileDownloaded = true;
      }
    });

    var orthogroupFileData = '';
    var orthogroupFileDownloaded = false;
    jQuery.ajax(orthogroupFile, {
      progress: function(e) {
        // track downloading
        var percent_loaded = Math.round((e.loaded / e.total) * 100);
        jQuery('#progress-status').html('Downloading Orthogroup file: ' + percent_loaded + '%');
        //console.log(e);
      },
      success: function(data) {
        //this should contain the contents which can be parsed
        orthogroupFileData = data;
        orthogroupFileDownloaded = true;
      }
    });    
 
    var newickFileData = '';
    var newickFileDownloaded = false;
    jQuery.ajax(newickFile, {
      progress: function(e) {
        // track downloading
        var percent_loaded = Math.round((e.loaded / e.total) * 100);
        jQuery('#progress-status').html('Downloading Newick file: ' + percent_loaded + '%');
        //console.log(e);
      },
      success: function(data) {
        //this should contain the contents which can be parsed
        newickFileData = data;
        newickFileDownloaded = true;
      }
    }); 

    var countFileData = '';
    var countFileDownloaded = false;
    jQuery.ajax(countFile, {
      progress: function(e) {
        // track downloading
        var percent_loaded = Math.round((e.loaded / e.total) * 100);
        jQuery('#progress-status').html('Downloading Count file: ' + percent_loaded + '%');
        //console.log(e);
      },
      success: function(data) {
        //this should contain the contents which can be parsed
        countFileData = data;
        countFileDownloaded = true;
      }
    });

    var checkFilesDownloadInterval = setInterval(function() {
      //checks every second to see if all files complete and then execute the results
      if(annotationFileDownloaded && orthogroupFileDownloaded && newickFileDownloaded && countFileDownloaded) {
        clearInterval(checkFilesDownloadInterval);
        jQuery('#progress-status').html('Dependency files successfully downloaded');
        jQuery('#proggitress-status').html('Generating Orthoquery Chart');
        ready(null,d3.tsvParse(annotationFileData), d3.tsvParse(orthogroupFileData), newickFileData, d3.tsvParse(countFileData));        
      }
    }, 2000);         

    //Queue up all data files
    /*
    queue()
    .defer(d3.tsv, annotationFile)
    .defer(d3.tsv, orthogroupFile)
    .defer(d3.text, newickFile)
    .defer(d3.tsv, countFile)
    .await(ready);
    */
    
    function ready(error, aData, oData, newick, countData){
      //Read gene annotations file and store in geneAnnotations object
      for(var i = 0; i<aData.length; i++){
        var row = aData[i],
            gene = row["Query Seq"];
        geneAnnotations[gene] = row;

        //Also, if the gene has an Eggnog Description and a Subject Seq, place that gene in wellAnnotatedGenes
        if(row["Eggnog Description"] && row["Subject Seq"]){
          wellAnnotatedGenes.push(gene);
        }
      }
      //Sort wellAnnotatedGenes in order of ascending e-value
      wellAnnotatedGenes.sort(function(a,b){
        var eA = geneAnnotations[a]["E Value"],
            eB= geneAnnotations[b]["E Value"];
        return Number(eA) - Number(eB);
      });

      //Read orthogroup file and store gene lists in correspondence object
      for(var i = 0; i<oData.length; i++){
        var row = oData[i],
            orthogroup = row.orthogroup;

        //Each gene should have a flat array of unique gene IDs
        for(var species in row){
          if(row.hasOwnProperty(species) && species!=="orthogroup"){
            var geneList = row[species].split(", ");
            if(orthogroupGenes[orthogroup] === undefined){
              orthogroupGenes[orthogroup] = {};
            }
            orthogroupGenes[orthogroup][species] = geneList;
          }
        }
      }
    
      //Read species tree file
      var cluster = d3.cluster()
          .size([height, width])
          .separation(function(a, b) { return 1; }); //Even spacing between leaves

      //Parse species tree using parseNewick function and store in d3.hierarchy object "root"
      //d3.hierarchy provides handy methods for graph traversal
      root = d3.hierarchy(parseNewick(newick), function(d) { return d.branchset; })
        .sum(function(d) { return d.branchset ? 0 : 1; }) //Set each node.value to the number of descendent leaves
        .sort(function(a, b) { return (a.value - b.value) || d3.ascending(a.data.length, b.data.length); });

      //Assign each node in root an x and y coordinate
      cluster(root);

      var input = d3.select("#show-length input").on("change", changed),
          timeout = setTimeout(function() { input.property("checked", true).each(changed); }, 500);

      root.descendants().forEach(function(d){d.color="red"})

      // Set the totalLength of each node by recursively summing and scaling the distance from the root.
      function setTotalLength(d, y0, k) {
        y0 += d.data.length;
        d.totalLength = y0 * k; 
        if (d.children) d.children.forEach(function(d) { setTotalLength(d, y0, k); });
      }

      //We use width/maxLength(root) as our scaling factor k
      setTotalLength(root, root.data.length = 0, width / maxLength(root));

      var link = chart.append("g")
          .attr("class", "links")  //svg g g.links
        .selectAll("path")
        .data(root.links()) //all links
        .enter().append("path")
          .each(function(d) { d.target.linkNode = this; })
          .attr("d", linkConstant)
          .attr("stroke", function(d) { return d.target.color; });

      var labels = chart.append("g")
          .attr("class", "labels") //svg g g.labels
        .selectAll("text")
        .data(root.leaves()) //just leaves
        .enter().append("text")
          .attr("dy", ".31em")
          .attr("transform", labelConstant)
          .text(function(d) { return d.data.name.replace(/_/g, " "); })
          .on("mouseover", mousedover(true))
          .on("mouseout", mousedover(false));

      var nodes = chart.append('g')
        .attr("class","nodes")
        .selectAll("circle")
        .data(root.descendants())
        .enter().append("circle")
        .attr('cx',function(d){return 0})
        .attr('cy',function(d){return 0})
        .attr('r',function(){return 6})
        .attr('transform',nodeConstant)
        .attr('fill',function(d){return d.color});

      //This function is called when the "show branch length" box is checked or unchecked
      function changed() {
        var t = d3.transition().duration(750);
        link.transition(t).attr("d", this.checked ? linkVariable : linkConstant);
        nodes.transition(t).attr('transform', this.checked ? nodeVariable : nodeConstant);
        labels.transition(t).attr('transform', this.checked ? labelVariable : labelConstant);
      }

      //highlight path the root when user hovers over species label
      function mousedover(active) {
        return function(d) {
          d3.select(this).classed("label--active", active);
          d3.select(d.linkExtensionNode).classed("link-extension--active", active).each(moveToFront);
          do d3.select(d.linkNode).classed("link--active", active).each(moveToFront); while (d = d.parent);
        };
      }

      function moveToFront() {
        this.parentNode.appendChild(this);
      }

      // Compute the maximum cumulative length of any node in the tree.
      function maxLength(d) {
        return d.data.length + (d.children ? d3.max(d.children, maxLength) : 0);
      }

      //
      //The functions below compute the locations for svg elements in the species tree
      //
      function linkVariable(d) {
        return linkStep(d.source.totalLength, d.source.x, d.target.totalLength, d.target.x);
      }

      function linkConstant(d) {
        return linkStep(d.source.y, d.source.x, d.target.y, d.target.x);
      }

      function nodeVariable(d){
        return `translate(${d.totalLength},${d.x})`;
      }

      function nodeConstant(d){
        return `translate(${d.y},${d.x})`;
      }

      function labelConstant(d){
        return `translate(${width+5},${d.x})`; 
      }

      function labelVariable(d){
        return `translate(${d.totalLength+5},${d.x})`; 
      }

      function linkStep(startX, startY, endX, endY) {
        return "M" + startX + "," + startY  //moveto
            + "L" + startX +"," + endY //lineto
            + "L" + endX + "," + endY; //lineto
      }

      //Read the orthogroup counts file
      d3.csv(countFile,function(countData){
      var nonZeroSets = {},
        zeroSets = {},  //name: {ortho1, ortho2, ...}
        geneCounts = {},
        speciesCounts = {}, //{ortho1: 2, ortho2: 12, ...}
        row, orthogroup;

      var ortho_scroll_div = d3.select('#ortho-scroll-div');
      var ortho_table = d3.select('#ortho-table');

      //Create empty zero- and nonZero-sets for each species
      for(prop in countData[0]){
        if(prop!=="orthogroup" && prop!=="Total"){
        nonZeroSets[prop]=new Set();
        zeroSets[prop]=new Set();
        }
      }
      // Create zero-sets and non-zero-sets for each species (leaf node)
      for(var i=0;i<countData.length;i++){
        row = countData[i];
        orthogroup = row["orthogroup"];
        geneCounts[orthogroup]=parseInt(row["Total"])
        ortho_table.append("tr"); //add an empty tr for each orthogroup
        for(var prop in row){
        if(prop!=="orthogroup" && prop!=="Total"){
          if(row[prop]==='0'){
          zeroSets[prop].add(orthogroup);
          }else{
          if(speciesCounts.hasOwnProperty(orthogroup)){
            speciesCounts[orthogroup] += 1;
          }
          else{
            speciesCounts[orthogroup] = 1;
          }
          nonZeroSets[prop].add(orthogroup);
          }
        }
        }
      }

      //Connect leaves to sets
      root.leaves().forEach(function(d){
        var name = d.data.name;
        d.some = nonZeroSets[name];
        d.all = nonZeroSets[name];
        d.fromOne = nonZeroSets[name];
        d.none = zeroSets[name];
      });

      //For each internal node (post-order traversal), make 'all', 'none', 'fromOne', and 'some' sets
      root.eachAfter(function(d){
        if(d.children){
        var left = d.children[0],
          right = d.children[1];
        d.some = new Set([...left.some, ...right.some]),
        d.none = new Set([...left.none].filter(gene => right.none.has(gene))),
        d.all = new Set([...left.all].filter(gene => right.all.has(gene))),
        d.fromOne = new Set([...left.fromOne].filter(gene => right.none.has(gene)).concat(
                    [...right.fromOne].filter(gene => left.none.has(gene))));
        }
      });

      //For each node (breadth-first traversal), compute unique sets
      root.unique = root.some;
      root.each(function(d){
        if(d.parent){
        var p = d.parent,
          pU = p.unique,
          sib = p.children.filter(function(x){return x!==d})[0],
          zeroes = d.none,
          sibU = new Set([...pU].filter(gene => zeroes.has(gene)));
        sib.unique = sibU;
        }
      });

      nodes.on('click',function(d){
        selectedSetDescription = "";
        $("#bar-info-div").text("");
        labels.classed('selected-label',false);
        root.descendants().forEach(function(d){d.color = "red";}); //turn all nodes red
        if(selectedNode===this){ //toggle off on re-click
        selectedNode = undefined;
        $("#bar-chart-container").hide();
        $("#ortho-list-div").hide();
        $("#ortho-info-div").hide();
        }else{
        $("#ortho-list-div").hide();
        $("#ortho-info-div").hide();
        if(!selectedNode)$("#bar-chart-container").show();
        selectedNode = this;
        d.descendants().forEach(function(d){d.color= "green";}); //turn descendants green
        updateBars(d);
        }
        updateColor();
      });

      function updateColor(){
        nodes.attr('fill',function(d){return d.color});
        link.attr('stroke',function(d){return d.target.color});
      }

      function updateBars(d){
        //Get all gene sets of interest

        //Ancestors
        if(d.parent){
        var p = d.parent,
          sib = p.children.filter(x => x!==d)[0],
          ancestorGenes = [...d.all].filter(gene => sib.some.has(gene));
        }else{
        var ancestorGenes = [];
        } 
        //Clade-specific (from 1)
        var fromOne = [...d.fromOne].filter(gene => d.unique.has(gene));
        //Clade-specfic (from all)
        var fromAll = [...d.unique].filter(gene => d.all.has(gene));
        //Clade-specific (leftovers)
        var fromMany = [...d.unique].filter(gene => fromOne.indexOf(gene)===-1 && fromAll.indexOf(gene)===-1);
        //Elsewhere
        var outsideGenes = [...d.none];
        //Inside & Outside (and not ancestral)
        var inAndOutGenes = [...d.some].filter(gene => !d.unique.has(gene) && ancestorGenes.indexOf(gene)===-1);

        //Data that will be used to draw the bar graph
        var barData = [{
            'description':'<strong>Ancestral</strong><br>orthogroups present throughout the selection, as well as in other descendants of the most recent ancestor',
            'name':'Ancestral',
            'genes':ancestorGenes
            },{
            'description':'<strong>Species-specific</strong><br>orthogroups present in a single descendant of the selection (and nowhere else)',
            'name':'Species Specific',
            'genes':fromOne
            },{
            'description':'<strong>Clade-specific</strong><br>orthogroups present in all descendants of the selection (and nowhere else)',
            'name':'Clade Specific',
            'genes':fromAll
          },{
            'description':'<strong>Not-Clade-Specific(many)</strong><br>orthogroups present in more than 1 but less than all descendants of the selection (and nowhere else)',
            'name':'Not Specific',
            'genes':fromMany
            },{
            'description':'<strong>Present Elsewhere</strong><br>orthogroups present both within and outside of the selection, as well as NOT in the ancestral group',
            'name':'Present Elsewhere',
            'genes':inAndOutGenes
            },{
            'description':'<strong>Absent</strong><br>orthogroups not present anywhere in the selection',
            'name':'Absent',
            'genes':outsideGenes
            }];

        //Sort gene sets in order of descending species
        for(var i=0;i<barData.length;i++){
        barData[i].genes.sort(function(a,b){
          return speciesCounts[b] - speciesCounts[a];
        });
        }

        $("#bar-chart-div").empty();

        var maxCount = d3.max(barData,d => d.genes.length);
        var count2Width = d3.scalePow().domain([0,maxCount]).range([10,130]).exponent(1.5);

        //Draw bar chart
        d3.select('#bar-chart-div').selectAll('div')
          .data(barData)
          .enter()
          .append('div')
          .classed('bar-div',true)
          .style('width',function(d){
          return d.genes.length ? count2Width(d.genes.length)+"px" : "0px";
          })
          .style('background-color',function(d,i){return d3.schemeCategory10[i]})
          .style('top', function(d, i){
          return (i*30+37)+'px';
          } )
          .on('click',function(d){
          
            var ortho_table = d3.select("#ortho-table").selectAll('tr'),
              genes = d.genes;
            var ortho_table = ortho_table.data(genes)
              .html(d => `<td class="orthogroup-td">${d}</td><td style="width:49px;">${geneCounts[d]}</td><td style="width:70px;">${speciesCounts[d]}</td>`)
              .on("click",showInfo);
            ortho_table.enter()
              .append('tr')
              .style('width','100%')
              .html(d => `<td class="orthogroup-td">${d}</td><td style="width:49px;">${geneCounts[d]}</td><td style="width:70px;">${speciesCounts[d]}</td>`)
              .on("click",showInfo);
            ortho_table.exit()
              .remove();

            $("#orthogroup-list-title").text(d.name);

            $("#ortho-list-div").show();
            $("#ortho-info-div").show();

            selectedSetDescription = d.description;
            $("#bar-info-div").html(d.description);

          })
          .on('mouseover',function(d,i){
          $("#bar-info-div").html(d.description);
          })
          .on('mouseout',function(d,i){
          $("#bar-info-div").html(selectedSetDescription);
          });

        //Add bar labels to the left of bars
        d3.select('#bar-chart-div').selectAll('.bar-label')
          .data(barData)
          .enter()
          .append('p')
          .classed('bar-label',true)
          .style('top', function(d, i){return (i*30+32)+'px';})
          .text(d => d.name);

        //Add bar-size labels to the right of bars
        d3.select('#bar-chart-div').selectAll('.bar-size')
          .data(barData)
          .enter()
          .append('p')
          .classed('bar-size',true)
          .style('top', function(d, i){return (i*30+37)+'px';})
          .style('left', d => count2Width(d.genes.length)+65+"px")
          .text(d => d.genes.length);
        
        
      }
      
      //Highlight the labels of species corresponding to a clicked orthogroup
      function highlightSpecies(orthogroup){
        labels.classed('selected-label', function(label){
        return label.all.has(orthogroup) ? true : false;
        });
      }
      
      //Show the top 5 genes in the 3rd div, and create a link to the complete annotations for all genes
      function showInfo(orthogroup){
        $("#ortho-info-div").show();
        $("#gene-list-title").text(orthogroup);

        var topGene;
        if(orthogroupGenes[orthogroup] !== undefined){
        for(var species in orthogroupGenes[orthogroup]){
          if(orthogroupGenes[orthogroup].hasOwnProperty(species)){
          for(var i=0; i<orthogroupGenes[orthogroup][species].length; i++){
            var gene = orthogroupGenes[orthogroup][species][i];
            if(wellAnnotatedGenes.indexOf(gene)!==-1){
            topGene = gene;
            break;
            }
          }
          }
          if(topGene!==undefined){
          break;
          }
        }
        }

        if(topGene!==undefined && geneAnnotations.hasOwnProperty(topGene)){
        //Show topGene
        $("#top-gene-div").show();
        $("#top-gene").text(topGene);
        $("#top-eggnog-description").text(geneAnnotations[topGene]["Eggnog Description"]);
        }else{
        $("#top-gene-div").hide();
        }

        //When the user clicks the button, prompt them to download an annotations file
        $("#annotation-download-button").off();
        $("#annotation-download-button").on("click",function(){ 
        saveAnnotations(orthogroup) 
        });

        highlightSpecies(orthogroup);
      }

      //Create a downloadable file
      //This is based on code from Ludovic Feltz's answer in
      //https://stackoverflow.com/questions/3665115/create-a-file-in-memory-for-user-to-download-not-through-server 
      function saveAnnotations (orthogroup) {
        //define filename
        var filename = orthogroup + "_annotations.tsv",
          fields = ["Query Seq","Subject Seq","Percent Identical","Alignment Length","Mismatches","Gap Openings","Query Start", "Query End", "Subject Start", "Subject End", "E Value", "Coverage",  "Description", "Species", "Origin Database", "Frame", "Contaminant", "Informative", "Seed Ortholog", "Seed E-Value",  "Seed Score",  "Predicted Gene",  "Tax Scope", "OGs", "Eggnog Description",  "KEGG Terms",  "Protein Domains", "GO Biological", "GO Cellular", "GO Molecular"];


        //define data
        var data = "Species\t"+fields.join('\t')+'\n';
        for(var i=0;i < aData.length;i++){
          var row = aData[i],
            gene = row["Query Seq"];
          for(var species in orthogroupGenes[orthogroup]){
          if(orthogroupGenes[orthogroup].hasOwnProperty(species)){
            if(orthogroupGenes[orthogroup][species].indexOf(gene)!==-1){
            console.log(species);
            //Add all data
            data+=species+"\t"
            for(var j=0; j<fields.length;j++){
              data += row[fields[j]]+'\t'
            }
            data += '\n'
            break;
            }
          }
          }
        }

        var blob = new Blob([data], {type: 'text/csv'});
        if(window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveBlob(blob, filename);
        }
        else{
          var elem = window.document.createElement('a');
          elem.href = window.URL.createObjectURL(blob);
          elem.download = filename;        
          document.body.appendChild(elem);
          elem.click();        
          document.body.removeChild(elem);
        }
      }
      });
    };
  //});
</script>
